* {
	color: white;
	font-family: "Montserrat";
	font-style: normal;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 10px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
}
body {
	background-color: #121227;
}
.header {
	position: relative;
	color: white;
}
.header__top {
	width: 100%;
	border: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	background: #242537;
	border-radius: 26px;
	height: 60px;
}
.header__top.show {
	border-radius: 26px 26px 0 0;
	transition: all 0.09s ease-out;
}
.header__title {
	font-size: 20px;
}
.header__popup {
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
	background: #242537;
	border-radius: 0 0 26px 26px;
	position: absolute;
	transform: translateY(-20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-out;
}
.header__popup.show {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.header__popup-list {
	list-style: none;
	margin: 0;
	padding-left: 15px;
}
.header__popup-item {
	margin-bottom: 20px;
	justify-self: center;
}
.header__popup-item a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.header__arrow {
	transition: transform 0.3s ease;
}
.header__top.active .header__arrow {
	transform: rotate(180deg);
}
.section-info {
	width: 100%;
	justify-self: center;
}
.section-info__list {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	gap: 20px;
	list-style: none;
	justify-items: center;
	align-content: center;
}
.section-info__item .button {
	height: 55px;
	padding: 10px;
	background-color: #6785fb;
	border-radius: 20px;
	border: #242537 1px solid;
}
.section-info__item-text {
	background-color: #2e2e30;
	border-radius: 20px;
	justify-items: center;
	height: 50px;
	width: 100%;
	text-align: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	align-content: center;
}
.button-main {
	font-size: 16px;
	font-weight: bold;
}
.button-main:hover {
	transform: scale(1.1);
	transition: ease-in-out 0.3s;
}
.button-main:active {
	background-color: #4b5fb3;
	transition: ease-in-out 0.1s;
}
.section-schedule {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-items: center;
	background-color: #1e1f32;
	border-radius: 26px;
	border: #242537 1px solid;
	padding: 18px;
	min-height: 500px;
}
.section-schedule__week-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
	gap: 10px;
	align-items: center;
	justify-self: center;
	height: 40px;
}
.button-week {
	width: 44px;
	height: 30px;
	background-color: #242537;
	border-radius: 20px;
	border: 1px solid #6785fb;
	font-weight: bold;
	transition: ease 0.4s;
}
.button--active {
	background-color: #6785fb;
	height: 40px;
	transition: ease 0.4s;
}
.section-schedule__lessons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.section-schedule__lessons-list {
	display: flex;
	list-style: none;
	align-items: center;
	padding: 0;
	margin: 0;
}
.no-lessons {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
}
.lesson-number {
	background-color: #6785fb;
	border: #242537 1px solid;
	border-radius: 26px;
	width: 65px;
	height: 65px;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-items: center;
}
.lesson-number p {
	margin: 20px;
	margin-right: 30px;
	font-weight: bold;
	font-size: 20px;
}
.lesson-card__info-list {
	list-style: none;
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 8px;
	gap: 10px;
	font-size: 14px;
}
.lesson-card__info-list li {
	width: 90%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.lesson-card {
	background-color: #2e2e30;
	height: 64px;
	border-radius: 20px;
	margin-left: -25px;
	width: 100%;
}
.lesson-card__item--left {
	margin-left: 15px;
	text-overflow: ellipsis;
}
.lesson-card__item--right {
	text-align: right;
}
.footer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer__main {
	width: 100%;
	height: 120px;
	background: #242537;
	border-radius: 20px;
}
.section-favourites {
	width: 100%;
	justify-items: center;
	margin-top: 10px;
}
.favorites-carousel {
	display: flex;
	width: 100%;
}
.favorites-carousel__track {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 10px;
}
.favorites-carousel__arrow {
	background: none;
	border: none;
}
.favorites-carousel__button {
	background: #6785fb;
	border: #242537;
	height: 55px;
	width: 100%;
	border-radius: 26px;
}
.choose-popup {
	background-color: #242537;
	border-radius: 20px;
	border: #6785fb solid 1px;
	width: 90%;
	padding: 0;
}
.choose-popup__content {
	padding: 20px;
	background-color: #242537;
	border-radius: 20px;
	border: #6785fb solid 1px;
}
.choose-popup::backdrop {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(2px);
	cursor: pointer;
}
.choose-popup__form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"input input"
		"favorites choose";
	gap: 20px;
}
.choose-popup__close-btn {
	display: block;
	margin-left: auto;
	background: none;
	border: none;
}
.choose-popup__title {
	text-align: center;
}
.choose-popup__btn {
	background-color: #6785fb;
	border-radius: 20px;
	border: none;
}
.choose-popup input[type="text"] {
	background-color: #2e2e30;
	border-radius: 20px;
	border: #6785fb 1px solid;
	grid-area: input;
}
.choose-popup__btn--choose {
	grid-area: choose;
}
.choose-popup__btn--favorites {
	grid-area: favorites;
}
